---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<img src = "cat-cat-jumping.gif" alt = "happy cat" style = "alignment: center;">

			<h2 style = "text-align:center;">
				Tianli Qu
			</h2>
			<p>
				Welcome to my personal website! I am a third year student at Boston College studying Mathematics, Computer Science and Human-Centered Engineering.
			</p>
			<p>
				I love math, coding and basketball. I am interested in fullstack development and machine learning. Looking for a job in software development.
			</p>
			
			
		</main>
		<Footer />
	</body>
</html>
