---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>
				Welcome to my website!

			</h1>

			<p>
				Math student. Love math, coding and basketball. Interested in fullstack development and machine learning. Looking for a job in software development.
				</p>
			
				<p>
					I yap a lot
				</p>
		</main>
		<Footer />
	</body>
</html>
